html
    head
        title The F2E Magazine
        link(href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i", rel="stylesheet")
        link(href="./style.css", rel="stylesheet")
    body
        .wrap
            .top-item
                .sub-title CCCLOTHES
                .title MEN'S TOPS
            .item1
                h2.item1-title(data-title="LINEN BLAZER") LINEN BLAZER
                .item1-num 01
                .item1-category Men's outfit
                .item1-img(style="background-image: url(https://images.unsplash.com/photo-1513827379601-9dba5099a3f9?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)")

                .item1-decoration-box
                .item1-decoration-line

            .item2
                h2.item2-title(data-title="FREELIFT") FREELIFT
                .item2-num 02
                .item2-category Men's basic
                .item2-img(style="background-image: url(https://images.unsplash.com/photo-1519406709381-c1f293304b28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)")

                .item2-decoration-box
                .item2-decoration-box-fill

            .item3
                h2.item3-title(data-title="SUPER SKINNY") SUPER SKINNY
                .item3-num 03
                .item3-category Men's pattern shirts
                .item3-img(style="background-image: url(https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)")

                .item3-decoration-box
                .item3-decoration-box-fill

            .item4
                h2.item4-title(data-title="SUPER SKINNY") DENIM
                .item4-num 04
                .item4-category Men's cadual
                .item4-img(style="background-image: url(https://images.unsplash.com/photo-1484516758160-69878111a911?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80)")

                .item4-decoration-box
                .item4-decoration-line

            .item5
                h2.item5-title(data-title="SWEATSHIRTS") SWEATSHIRTS
                .item5-num 05
                .item5-category Men's jacket
                .item5-img(style="background-image: url(https://images.unsplash.com/photo-1525448198276-222de3961638?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)")

                .item5-decoration-box
                .item5-decoration-line

            .item6
                h2.item6-title(data-title="VINTAGE DENIM") VINTAGE DENIM
                .item6-num 06
                .item6-category Men's classic
                .item6-img(style="background-image: url(https://images.unsplash.com/photo-1519406709381-c1f293304b28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)")

                .item6-decoration-box
                .item6-decoration-box-fill

            .item7
                h2.item7-title(data-title="EDITION") EDITION
                .item7-num 07
                .item7-category Men's shirts
                .item7-img(style="background-image: url(https://images.unsplash.com/photo-1516914943479-89db7d9ae7f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjIwMTc1fQ&auto=format&fit=crop&w=634&q=80)")

                .item7-decoration-box
                .item7-decoration-box-fill